html,
body {
	height: 100%;
	width: 100vw;
}

:root {
	--white: hsl(0, 0%, 100%);
	--off-white: #8385a9;
	--soft-red: hsl(345, 95%, 68%);

	--grayish-blue: hsl(237, 18%, 59%);
	--dark-desaturated-blue: hsl(236, 21%, 26%);
	--dark-blue: hsl(235, 16%, 14%);
	--very-dark-blue: hsl(234, 17%, 12%);
}

body {
	margin: 0;
	font-family: "Red Hat Text", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: var(--white);

	background-image: url("../public/bg-stars.svg");
	background-repeat: no-repeat;
	background-color: hsl(249.23deg 18.31% 13.92%);
}
